<nav class="navbar  navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">
        <!-- <img src="favicon.ico" alt="" width="30" height="24" class="d-inline-block align-text-top"> -->
        <!-- <img src="logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top"> -->
        <img src="assets/logo.ico" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Clasificador de Radiografias
      </a>
    </div>
</nav>

