body{
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: center; /* Center the image */
    /* background-color: #333; */
    /* color: aliceblue; */
}

.not-show{
    display: none;
}